# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
env/
*.conda/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Data / models / trajectories
*.pt
*.pth
*.traj
*.xyz
*.h5
*.hdf5
*.db
*.ipynb

# OS
.DS_Store